.boton{
  width: 200px;
  padding: 8px 15px;
  color: rgb(2, 41, 148);
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.boton:hover{
  cursor: pointer;
  background-color: blue;
  color: white;
}
@media (max-width:480px) {
  .boton{
    width: 150px;
    padding: 4px 5px;
    color: rgb(2, 41, 148);
    font-size: 16px;
    border-radius: 5px;
  }
}