.login{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_contenedor{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 0;
  box-shadow: 4px 4px 4px 3px ;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.199);
}
.login_contenedor label{
  font-size: 28px;
  font-weight: bold;
  line-height: 100px;
}
@media (max-width:480px) {
  .login_contenedor{
    width: 90%;
  }
}